/* PALETA DE COLORES */
:root {
    --primary-color: #ff86cf;
    --secondary-color: #fffcd8;
    --tertiary-color: #ffa09a;
    --accent-color1: #ffd98e;
    --accent-color2: #fffbae;
    --accent-color3: #4a4a4a;
}