/*HOJA DE ESTILOS DEL MINI-SITIO WEB*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILOS DEL BODY*/
body{
    background-color: var(--tertiary-color);
}

/*ESTILOS DEL HEADER*/
header{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
}
/*Marca*/
.marca{
    padding: 0px 20px;
}
.marca__nombre{
    font-family: Sacramento;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    color: var(--accent-color3);
}
.marca__nombre:hover{
    color: var(--primary-color);
}
/*Barra Navegación*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
.navbar__link{
    font-family: lora;
    font-size: 15px;
    text-decoration: none;
    color: var(--accent-color3);
    border: 10px solid transparent;
    transition: transform 0.3s, box-shadow 0.3s;
}
.navbar__link:hover{
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(255, 134, 207, 0.9);
    border-radius: 5px;
}
.navbar__link:active{
    background-color: var(--accent-color2);
    color: var(--primary-color);
}

/*ESTILOS DEL MAIN*/

/*Hero*/
.hero{
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    h1{
        font-family: sacramento;
        font-size: 70px;
        font-weight: 200;
        color: var(--secondary-color);
    }
    h2{
        font-family: lora;
        font-size: 20px;
        line-height: 2em;
        color: var(--accent-color3);
    }
}
/*Sección principal*/
.contenedor{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
/*Panel de usuario*/
.contenedorUsuario{
    width: 15vw;
    max-width: 15vw;
    padding: 0 10px;
}
.panelUsuario{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color1);
    border-radius: 5px;
    img{
        width: 100px;
        margin: 15px;
    }
    h4{
        font-family: lora;
        font-size: 20px;
        color: var(--accent-color3);
    }
    p{
        font-family: lora;
        font-size: 15px;
        color: var(--accent-color3);
    }
}
.deco{
    padding: 10px;
    color: var(--primary-color);
}
.menuPerfil{
    margin-top: 10px;
    .listaPerfil{
        list-style-type: none;
    }
    a{
        font-family: lora;
        font-size: 15px;
        color: var(--accent-color3);
        text-decoration: none;
    }
}
/*Contenedor Adds*/
.publicidad{
    width: 300px;
    max-width: 300px;
    padding: 0 20px;
    h3{
        text-align: center;
    }
    img{
        width: 100%;
        border-radius: 5px;
    }
}
/*Contenido de la página*/
.contenedorPrincipal{
    margin: auto;
    width: 70vw;
    max-width: 1000px;
    display: grid;
}
.actualizacionNovela{
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    h3{
        font-family: sacramento;
        font-size: 50px;
        font-weight: 200;
        text-align: center;
        color: var(--secondary-color);
    }
    h4{
        font-family: sacramento;
        font-size: 25px;
        text-align: left;
        color: var(--accent-color3);
    }
    p{
        font-family: lora;
        font-size: 15px;
        text-align: justify;
        color: var(--accent-color3);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    a{
        font-family: lora;
        font-size: 15px;
        text-align: right;
        color: var(--accent-color3);
        margin-top: 10px;
    }
    a:hover{
        color: var(--secondary-color);
    }
}
.arteblog{
    display: flex;
    justify-content: space-between;
}
.columna1{
    width: 40%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.arteDestacado{
    padding: 15px;
    display: flex;
    flex-direction: column;
    h3{
        font-family: sacramento;
        font-size: 50px;
        font-weight: 200;
        text-align: center;
        color: var(--secondary-color);
    }
    p{
        font-family: lora;
        font-size: 15px;
        text-align: justify;
        color: var(--accent-color3);
        margin-top: 10px;
    }
    a{
        font-family: lora;
        font-size: 15px;
        text-align: right;
        color: var(--accent-color3);
        margin-top: 10px;
    }
    a:hover{
        color: var(--secondary-color);
    }
    img{
        object-fit: contain;
        height: 300px;
    }
}
.columna2{
    width: 60%;
}
.blogDestacado{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    h3{
        font-family: sacramento;
        font-size: 50px;
        font-weight: 200;
        text-align: center;
        color: var(--secondary-color);
    }
    p{
        font-family: lora;
        font-size: 15px;
        text-align: justify;
        color: var(--accent-color3);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 7;
        -webkit-line-clamp: 7;
        overflow: hidden;
    }
    a{
        font-family: lora;
        font-size: 15px;
        text-align: right;
        color: var(--accent-color3);
        margin-top: 10px;
    }
    a:hover{
        color: var(--secondary-color);
    }
}
.unete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 10px;
    h3{
        font-family: sacramento;
        font-size: 50px;
        font-weight: 200;
        text-align: start;
        color: var(--secondary-color);
    }
    p{
        font-family: lora;
        font-size: 15px;
        text-align: justify;
        color: var(--accent-color3);
    }
}
/*Botón*/
.boton{
    width: 50%;
    margin-top: 25px;
    box-sizing: content-box;
    background-color: var(--primary-color);
    border: none;
    color: var(--accent-color3);
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: lora;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave al pasar por encima */
    box-shadow: 5px 2px 10px 5px var(--accent-color3);
}
.boton:hover{
    background-color: var(--accent-color1);
    box-shadow: 5px 5px 0 var(--accent-color3);
}
.boton:active{
    box-shadow: 0 0 0 var(--accent-color3);
    transform: translateY(5px);
}

/*ESTILOS PARA EL FOOTER*/
footer{
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
    }
}
/*Texto del copy-right*/
.footer__copy-right{
    margin-top: 10px;
    border-bottom: 1px solid var(--primary-color);
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--accent-color3);
    span{
        font-family: lora;
        color: var(--primary-color);
    }
}
/*Redes sociales*/
.footer__social-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    a{
        color: var(--primary-color);
        font-size: 40px;
        text-decoration: none;
    }
}
/*Plataformas de lecturas*/
.footer__leer{
    display: flex;
    justify-content: space-between;
    a{
        padding: 5px;
        font-size: 20px;
        font-family: lora;
        margin-top: 10px;
    }
}

/*ESTILOS PARA EL MODAL*/
.modal-overlay{
    background-color: rgba(74, 74, 74, 0.7);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
}
.modal{
    min-width: 300px;
    max-width: 500px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    box-shadow: 5px 2px 10px 5px var(--accent-color3);
    margin: auto;
}
.modal__formulario{
    display: flex;
    flex-direction: column;
    font-family: sacramento;
    font-size: 70px;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
    label{
        font-family: lora;
        font-size: 20px;
        text-align: left;
        color: var(--accent-color3);
    }
    input{
        padding: 8px;
        border-radius: 5px;
        margin: 10px 0;
    }
    p{
        font-family: lora;
        font-size: 15px;
        color: var(--accent-color3);
        margin-top: 20px;
    }
    a{
        font-family: lora;
        font-size: 15px;
        color: var(--accent-color3);
        margin-top: 10px;
    }
}
.check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    label{
        font-family: lora;
        font-size: 18px;
        text-align: left;
        color: var(--accent-color3);
        margin-right: 10px;
    }
}
.botonform{
    align-self: center;
    width: 70%;
    margin-top: 25px;
    box-sizing: content-box;
    background-color: var(--primary-color);
    border: none;
    color: var(--accent-color3);
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: lora;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 2px 10px 5px var(--accent-color3);
}
.botonform:hover{
    background-color: var(--tertiary-color);
    box-shadow: 5px 5px 0 var(--accent-color3);
}
.botonform:active{
    box-shadow: 0 0 0 var(--accent-color3);
    transform: translateY(5px);
}

/*ESTILO PARA EL OVERLAY DEL GATITO*/
.overlayGato{
    background-color: rgba(74, 74, 74, 0.7);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 100%;
}